
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="search-box">
  <input class="search-txt" type="text" name="" placeholder="What shall be dipt">
  <a class="search-btn" href="">
    <i class="fas fa-search"></i>
  </a>
</div>