
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f25455;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f3c462;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 340px;
    
}