<div>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">search</a></li>
    <li><a routerLink="/about" routerLinkActive="active">about</a></li>
  </ul>
</div>
